@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");

$dark_green: #217074;
$mid_green: #37745b;
$light_green: #8b9d77;
$grayish: #e7eaef;
$beige: #edc5ab;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    font-family: "Peralta", cursive;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $dark_green;
    color: $grayish;
    .header {
        margin-bottom: 15px;
        text-align: center;
        &__title {
            font-size: 50px;
        }
        &__amount {
            font-size: 22px;
        }
    }
    form {
        input {
            border: 1px solid rgba(0, 0, 0, 0.08);
            padding: 15px;
            border-radius: 15px;
            font-size: 16px;
            padding-left: 20px;
        }
        button {
            background-color: $mid_green;
            padding: 16px 15px;
            border-radius: 15px;
            margin-left: 10px;
            font-size: 16px;
            color: #fff;
            border: 0;
            outline: none;
            box-shadow: 0 7px 10px rgba(71, 121, 100, 07);
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: $light_green;
            }

            &:active {
                transform: translateY(2px);
                box-shadow: none;
            }
        }
    }
    .list {
        max-height: 300px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        &__item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 10px;
            font-size: 22px;
            background-color: #fff;
            color: rgb(0, 0, 0);
            padding: 10px;
            border-radius: 5px;
            &-icon {
                width: 30px;
                margin-left: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                &:hover {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}
.strike {
    text-decoration: line-through;
}
